#my-titl{
    color:#9489CB
}
#my-titl{
    font-family: cursive;
}

button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    cursor: pointer;
}


h3{
    color:gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color:#7DB9BF;
}
#prett{
    color: #FCBDDE;
}
#luv{
    color: #DD6A8D;
}

img{
    width: 500px;
}

#rain_music{
    display: block;
    background-color: #7DB9BF;
    height: 35px;
    border-radius: 25px;
}

#blue_please{
    color:#7DB9BF;
}

.windsong-regular {
    font-family: "WindSong", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .windsong-medium {
    font-family: "WindSong", serif;
    font-weight: 500;
    font-style: normal;
  }

#wature{
    color:cadetblue;
    font-size: 150px;
    font-family: 'WindSong', cursive;
    text-align: center;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    aspect-ratio: 1 / 1; 
    display: flex;
    overflow: hidden; 
}

.item img {
    object-fit: cover;
}
