#my-titl{
    color:#9489CB
}
#my-titl{
    font-family: cursive;
}

h3{
    color:gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    color:#7DB9BF;
}
#prett{
    color: #FCBDDE;
}
#luv{
    color: #DD6A8D;
}

img{
    width: 500px;
}